@model WebApplication1.Models.Item

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<link rel="stylesheet" href="~/Content/headercontent.css" />
<div class="centercontent">
    <h2 class="centertitle">CHI TIẾT SẢN PHẨM</h2>

    <div>
        <h4>Item</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Tên sản phẩm
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ItemName)
            </dd>

            <dt>
                Giá sản phẩm 
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ItemPrice)
            </dd>

            <dt>
                Hình minh họa
            </dt>

            <dd>
                <img src="~/Images/@Model.ItemImageName" />
            </dd>

            <dt>
                Nhóm sản phẩm
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category.NameCate)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Sửa", "Edit", new { id = Model.ItemID }, new { @class="btn btn-success"}) |
        @Html.ActionLink("Quay lại", "Index",null, new { @class="btn btn-primary"})
    </p>
</div>